/* GLOBAL STYLES2 */
  body {
    font-family:  Arial,Helvetica,sans-serif;
    /*font-size:    12pt;*/
    background:   #E8E8E8;
  }

  div.page {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  div.md-container {
    background: #FFF;
    border: 1px #CCC solid;
    margin: 1em;
    padding: 0.5em 1em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  span.md-title {
    display: block;
    color: #CCC;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.3em;
  }

  div.md-container ul {
      list-style: none; /* Remove list bullets */
      padding: 0;
      margin: 0;
  }

  div.md-container li {
      padding-left: 4px;
  }

  div.md-container li:before {
      content: "-";
      padding-right: 0.5em;
      color: #CCC;
  }
